.app{
	margin-top:0px;
}
.staff{

	width: 70%;
	background-color: #d9d9d9;
	font-family: 'Roboto', sans-serif;

	.box{
		height: 10px;
		width: 10px;
		background-color: yellow;
		margin-left: 5%;
	}
	h2{
		padding-left: 5%;
	}
	p{
		
		margin-top: 25px;
		margin-left: 5%;

	}
}