.filler {
	width: 30%;
	float: right;
}
.events-wrapper {
	background-color: #e2e2e2;
	width: 100%;
}
.my-events {
	margin-top: 25px;
	width: 70%;
	padding: 0 0px 50px 50px;
	display: inline-block;
	p {
		padding: 0px 40% 40px 0px;
		@media only screen and (max-width: 768px) {
			padding: 0px 20px 40px 0px;
		}
	}
	.events-h2 {
		@include H3('', $black);
		font-size: 30px;
		@media only screen and (max-width: 768px) {
			font-size: 24px;
		}
	}
}
.box-events {
	@include heading-icon();
}

.left-image-div {
	float: left;
	width: 50%;
	display: inline-block;
	padding-right: 50px;
	margin: 0 0 40px 0;
	@media only screen and (max-width: 768px) {
		width: 130%;
		padding: 0px;
	}
}
.events-Img {
	height: 400px;
	@include image('reggio-emilia-photo.jpg');
	border-bottom: 10px solid $accent-color;
}
.events-news {
	float: right;
	width: 25%;
	padding-left: -50px;
	@media only screen and (max-width: 768px) {
		width: 100%;
	}
}
