.drop-down-box{
	//background-color: aqua;
	// border-left: 1px solid;
	// border-top: 1px solid;
	width: 0; 
    height: 0; 
    border-left: 7px solid  transparent;
    border-right: 7px solid transparent ;
    border-bottom: 7px solid $secondary-color;
	top:18px;
	left :25px;
	position: absolute;
	//transform: rotate(45deg);
	opacity: 0;
	transition: all 500ms;
    transition-delay: 400ms;
}
.visible{
	//background-color: red;
	opacity:1
}