{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style" : 0,
    "react/jsx-indent":0
  },
  "env": {
    "browser": true,
    "node": true
  }
}