
{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style" : 0,
    "react/jsx-indent":0,
    "react/jsx-indent-props":0,
    "react/style-prop-object":0,
    "react/jsx-curly-brace-presence":0,
    "jsx-a11y/label-has-for": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}