#footer{
  width: 100%;
  min-height: 500px;
  background-color: $secondary-color;
  .footer {
    .wrapper {
      @include wrapper($wrapper-width);
      @media only screen and (max-width : 470px) {
        @include wrapper(100%);
      }
      padding-top: 30px;
      .column {
        width: 23%;
        height: 370px;
        float: left;
        margin: 10px;
        @media only screen and (max-width : 768px) {
          width: 100%;
          text-align: center;
          padding-bottom: 400px;
        }
        .footer-logo {
          width: 225px;
          margin-bottom: 30px;
        }
        .footer-info {
          @include P(left, $white);
          padding: 3px;

          @media only screen and (max-width : 768px) {
            text-align: center;
            padding: 0;
          }
        }
      }
      .column-text {
        width: 23%;
        max-height: 260px;
        float: left;
        margin-top: 150px;
        @media only screen and (max-width : 768px) {
          width: 33.3%;
          margin-top: 0;
          // text-align: center;
          &:nth-child(4){
            padding-left: 40px;
            box-size: border-box; 
            @media only screen and (max-width : 470px) {
              padding-left: 10px;
            
            }
          }
        }
        .footer-buttons {
          @include H4(left, $white);
          padding-bottom: 30px;
          @media only screen and (max-width : 768px) {
            @include H4(left, $white);
            padding-bottom: 14px;
            font-size: 1em;
          }
        }
      }
    }
  }
  .footer-description {
    width: 100%;
    margin-top: 20px;
    // height: 50px;
    background-color: $primary-color;
    color: $white;
    .wrapper {
      @include wrapper($wrapper-width);
      .social-icons {
        width: 25%;
        float: left;
        padding-top: 10px;
        @media only screen and (max-width : 768px) {
          width: 100%;
          text-align: center;
        }
        .fab {
          width: 50px;
          height: 50px;
          color: $white;
          padding-top: 10px;
          @media only screen and (max-width : 768px) {}
        }
      }
      .copyright-text {
        width: 50%;
        float: right;
        line-height: 50px;
        @media only screen and (max-width : 768px) {
          width: 100%;
          text-align: center;
        line-height: 20px;
        }
      }
    }
  }
}