.achievers {
	.content{
		float: left;
		width: 55%;
	}
	margin: 0px;
	font-family: Roboto;
	overflow: hidden;
	background-color: #BAC6C6;
}	
.invisibleBox{
	width: 20%;
	height: 567px;
	float: right;


}