.first{
	width: 100%;
	height: 300px;
	float: left;
	.firstPart{
		width: 60%;
		height: 500px;
		margin: 5.5% auto auto 6.5%;
		h2{
			font-size: 20px;
			margin: 0px;
			font-weight: bold;
		}
		.box{
			width:13px;
			height: 13px;
			 background-color: yellow;
			 margin-top: 5%;
			 margin-left: 0.5%;
		}
		p{
			text-align: justify;
			margin-top: 7%;
		}
	}
}