.portion1{
margin-top: 3%;
width: 100%;
float: left;
h2{
	margin-left: 6.5%;
}
.box{
	width:13px;
	height: 13px;
	background-color: yellow;
	margin-top: 2.5%;
	margin-left: 7%;
}	
	.part{
		width: 40%;
		height: 280px;
		float:left;
		margin: 2.5% auto 3% 4%;
		img{
			float: left;
			width: 200px;
			height: 200px;
			border: 2px solid white;
			margin:4% auto auto 5%;
			border:1px solid white;
		}
		.paragraph{
			width: 35%;
			float: left;
			margin-left: 2%;
			margin-top: 120px;
			h4{
				font-weight: bold;
			}
		}

	}
}
