.secondPart{
	width: 100%;
	height: 1200px;
	margin-top: -30%;
	h2{
		font-size: 25px;
		font-weight: bold;
		margin-left: 5.3%;
	}
	.box{
		width:13px;
		height: 13px;
	 	background-color: yellow;
	 	margin-top: 10%;
	 	margin-left: 5.5%;
	 	margin-bottom: -5.5%
	}
	.col1{
		width: 45%;
		float: left;
		height: 900px;
		margin-left: 1%;
		margin-top: -4%;
		.part{
			float: left;
			width: 100%;
			height: 30%;
			margin-left: 10%;
			margin-top: 12%;
			h4{
				margin-left: 40%;
				margin-bottom: -80%;
				margin-top: 17%;
				font-weight: bold;
			}
			img{
				float: left;
				width: 200px;
				height: 200px;
				border: 2px solid white;

			}
			.paragraph{
				width: 30%;
				float: left;
				text-align: justify;
				margin-top: 20%;
				margin-left: 5%;
			}

		}
	}
	.col2{
		float: right;
		width:45%;
		height: 900px;
		margin-top: 0.8%;
		margin-bottom: auto;
		margin-top: -1%;

		.part{
			float: left;
			width: 100%;
			height: 30%;
			margin-left: 10%;
			margin-top: 14%;
			h4{
				margin-left: 40%;
				margin-bottom: -80%;
				margin-top: 15%;
				font-weight: bold;
			}
			img{
				float: left;
				width: 200px;
				height: 200px;
				border: 2px solid white;
			}
			.paragraph{
				width: 30%;
				float: left;
				text-align: justify;
				margin-top: 20%;
				margin-left: 5%;
			}

		}
	}
}
.divStyle2{
	margin-top: 15%;
	background-color: green;
}
.divStyle{
	margin-top: 3%;
}