#middle{
	min-height: 1300px;
	background-color: $background-image-color;
	.middleSection{
		padding: 20px 50px 50px 50px;
		width: 75%;
		float: left;
		box-sizing: border-box; 
	}
	.middleH2{
		@include H2('', $black);
	}
	.yellowBox{
		margin: 30px 0;
		height: 20px;
		width: 20px;
		background-color: $accent-color;
	}
	.middleP{
		@include P('', $black);
		padding-right: 120px;
		margin-bottom: 30px;

	}
	.middleImg{
		height: 400px;
		@include image('IMG_9463 (2).jpg')
	}
}











//############# color Variables  ##########
$uper-box-color : #404040;
$box-1-color:#ffcc33;
$box-2-color: #ff6666;
$box-3-color: #8080ff;
$box-4-color:#80ff80;
$box-border-color:#404040;

//######### SCSS of News ###################
.News{
	.news-Box{
	height:750px;
	width:25%;
	float:right;
	
		.uper-box{
			
			width: 100%;
			background-color: $uper-box-color;
			h2{
				margin: 0px;
				padding: 50px 40px;
				color:white;
				font-family: sans-serif;
			}
			p{
				@include P(left,white);
				padding:0px 40px 50px 40px;
				font-size: 18px;
				text-align: justify;
				font-family: sans-serif;
				color:#d9d9d9;
				span{
					color:$box-1-color;
				}
			}
		}
		.lower-box{
			
			width: 100%;

			.des-box{
				height: 50%;
				width: 50%;
				background-color: $box-1-color;
				float: left;
				h3{
					font-family: sans-serif;
					padding: 0 20%;
					margin:35% 0;
					border-left:9px $box-border-color solid ;
					box-sizing: border-box;
					font-weight: 700;
				}
			}
			.box-2{
				background-color: $box-2-color;
			}
			.box-3{
				background-color: $box-3-color;
			}
			.box-4{
				background-color: $box-4-color;
			}
			
		}
	}
	.clear{
		clear: both; 
	}

}