.drop-down-menu{
	//display: none;
	height:40px;
	// width:100%;
	//border: 1px solid black;
	border-radius: 10px;
	position:absolute;
	margin-top: 0px;
	//this top padding and top settings are done to adjust the new div so that it will not be able 
	// to overlap the text 
	top: 25px;
	padding-top: 10px;
	//this visibility is added because display none does not work and only opacity keeps it there 
	// so this is added the effect can be seen by commenting out the visibily here and in 
	// this given portion ' .nav-sub-menu-bar:hover+#div3 '
	visibility: hidden;
	opacity: 0;
	transition:all 500ms;
	transition-delay: 400ms;
	//background-color: green
		a{	
			color:$white;
			text-transform: uppercase;
			padding:0px 10px 0px 10px;
		}	
	}
.drop-down-menu:hover{
	//height :100px;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
    overflow: hidden;
	//display:block;
	background-color:$secondary-color;	//...it is used to purple the background even on hovering 
}
.nav-sub-menu-bar:hover+#div3{
	//height :100px;
	visibility: visible;
	cursor: pointer;
	opacity: 1;
	//display:block;
	background-color:$secondary-color;
	}

.news-events-header{
	min-width: 380px; 
	// min-width: 0px; 
}
.our-school-header{
	min-width: 300px; 
}
.admissions-header{
	min-width: 160px; 	
}
.home-header{
	display:none;
}
.career-header{
	right:30px;
	display:none;
}
.contact-header{
	right: 30px;
	display:none;
}