#nav-sub-menu{
  // display : inline;
  //background-color : red;
  position: relative;
  float : right;
  padding: 0px 30px 0px 10px;

	// .nav-sub-menu-bar:hover+.drop-down-box{
	// //height :100px;
	// //visibility: visible;
	// opacity: 1;
	// //display:block;
	// //background-color: purple
	// }
}



