#winsome-school {
  height: 1000px;
  width: 100%;
  background: linear-gradient($primary-color, $secondary-color);
  .winsome-school-heading {
    @include H2(center, $white);
  }
  .winsome-school-hidden-heading {
    @include H2(center, $primary-color);
  }
}

// Styles smaller than mobile/tablet

@media only screen and (max-width: 768px) {
  #winsome-school {
    height: 1550px;
    .winsome-school-heading {
      @include H2Mobile(center, $white);
    }
    .winsome-school-hidden-heading {
      @include H2Mobile(center, $primary-color);
    }
  }
}