.head {
    background-color: #e6e6e6;

    h2 {
        font-size: 28px;
        font-weight: bold;
    }
    p {
        line-height: 180%;
        font-size: 15px;
        letter-spacing: 0.48px;
    }
    .box {
        margin: 3% 0 3% 0;
        background-color: yellow;
        width: 18px;
        height: 18px;
    }
    .school {
        width: 65%;
        float: left;
        padding: 5%;
        p {
            width: 83%;
        }
    }
    .school img {
        padding-top: 5%;
    }
    .col1 {
        width: 56%;
        float: left;
        padding: 5%;
        .mission {
            padding-top: 5%;
        }
    }
}
.head::after {
    content: '';
    clear: both;
    display: block;
}
