#photogallery{
	min-height: 100vh;
	padding: 20px 70px 120px 70px;
	width: 100%;
	background-color: $background-image-color;
	.photogalleryH2{
		@include H2('', $black);
	}
	.yellowBox{
		margin: 30px 0;
		height: 20px;
		width: 20px;
		background-color: $accent-color;
	}
	.photogalleryP{
		@include P('', $black);
		padding-right: 120px;
		margin-bottom: 30px;

	}
	.showImages{
		margin-top: 80px;
		.imageContainer{
			margin-top: 50px;
			.img{
				height: 100vh;
				@include image('')
			}
			.photoCaption{
				p{
					padding: 20px 0;
					font-size: 1.2em;
					font-weight: bold;
					font-style: italic;
				}
			}
		}
	}
}