#junior {
  background-color: #e2e2e2;
}

.container {
  background-color: #e2e2e2;
  width: 75%;
  margin: 0;
  padding: 0;
  float: left;
  @media (max-width: 768px) {
    width: 100%;
  }
  .junior {
    width: 100%;
    padding: 15px 50px 30px 60px;
    float: left;
    .box {
      background-color: $accent-color;
      width: 20px;
      height: 20px;
      margin: 30px 0;
    }
    p {
      line-height: 1.6;
      padding-top: 1%;
      padding-bottom: 3%;
      width: 70%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .creating {
    padding: 15px 0 30px 60px;

    .box {
      background-color: $accent-color;
      width: 20px;
      height: 20px;
      margin: 30px 0;
    }
    .textimage {
      .pdivs {
        line-height: 1.6;
        //padding-top:  1% ;
        padding-bottom: 3%;
        width: 50%;
        float: left;
      }
      .imglion {
        width: 40%;
        float: right;
        //margin-top: 3%;
      }
    }
  }

  .key {
    width: 70%;
    padding: 15px 50px 30px 60px;
    clear: both;

    .box {
      background-color: $accent-color;
      width: 20px;
      height: 20px;
      margin: 30px 0;
    }
    p {
      line-height: 1.6;
      padding-top: 1%;
      padding-bottom: 3%;
      width: 70%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
.junior-news {
  float: right;
  height: 100%;
  width: 25%;
  @media (max-width: 768px) {
    width: 100%;
  }
}
