@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-theme.css';

@import './partials/variables';
@import './partials/mixins';
@import './partials/globals';

@import './modules/app/app';
// ########## Header ##########
@import './modules/header/_login';
@import './modules/header/_nav';
@import './modules/header/_navbar';
@import './modules/header/_wrapper';
@import './modules/header/_dropDownMenu';
@import './modules/header/_navSubMenu';
@import './modules/header/_dropDownBox';
// ########## Hero ##########
@import './modules/hero/hero';
// ########## Promo ##########
@import './modules/promo/winsomeSchool';
@import './modules/promo/promoCard';
@import './modules/promo/readMoreButton';
@import './modules/promo/juniorSchool';
// ########## Calender ##########
@import './modules/calender/content';
@import './modules/calender/events';
@import './modules/calender/arrow';
// ########## Whatshappen ##########
@import './modules/Whatshappen/Whatshappen';
// ########## Gallery ##########
@import './modules/gallery/gallery';
// ########## Footer ##########
@import './modules/footer/footer';

// ########## Career ##########
@import './modules/career/career';
@import './modules/News/news';
// ########## Junior ##########
@import './modules/junior/junior';

// ########## Middle ##########
@import './modules/middle/middle';

// ########## Photo Gallery ##########
@import './modules/photogallery/photogallery';

// ########## Staff ##########
@import './modules/staff/staff';

// ########## Achievers ##########
@import './modules/achievers/achievers';
@import './modules/achievers/firstHeading';
@import './modules/achievers/portion1';
@import './modules/achievers/portion2';

// ########## Events ##########
@import './modules/events/events';

// ########## Contact ##########
@import './modules/contact/contact';

// ########## Policies ##########
@import './modules/policies/policies';

// ########## Discover ##########
@import './modules/discover/discover';

// ########## Our School ##########
@import './modules/ourschool/ourschool';

// ########## admin Sign-in ##########
@import './modules/signin/signin';
@import './modules/signin/menu';

// ########## HR ##########
@import './modules/hr/hr';

// ########## DASHBOARD ##########
@import './modules/dashboard/dashboard';