// Promo

// ########## All Layout Variables Here ##########
$wrapper-width: 80%;

// ########## All Text Variables Here ##########
$font-family: 'Roboto';

// ########## All Images Variables Here ##########
$promo-image-1: './images/our-school-photo.jpg';
$promo-image-2: './images/reggio-emilia-photo.jpg';
$promo-image-3: './images/middle-school-photo.jpg';
$promo-image-4: './images/senior-school-photo.jpg';

// ########## All Colors Variables Here ##########
$primary-color: #0078AD;
$secondary-color: #134A7D;
$accent-color: #fdba26;
$white: #ffffff;
$black: #000000;
$background-image-color: #e8eced;

//Calender
$arrowColor:#134A7D;