#policies-container {
  width: 100%;
  min-height: 850px;
  background-color: $secondary-background-color;
  border-top: 10px $heading-icon-color solid;

  #policies {
    width: 70%;
    float: left;
    background-color: $career-body-color;

    .wrapper {
      @include wrapper(80%);
      .policies-heading {
        @include H3('left', $black);
        font-size: 30px;
        @media only screen and (max-width: 768px) {
          font-size: 24px;
        }
      }
      .box {
        @include heading-icon();
      }
      .policies-paragraph {
        @include P('left', $black);
      }
      .policy-name-heading {
        @include H4('left', $black);
        margin-top: 30px;
      }
      .policy-name-paragraph {
        @include P('left', $black);
        margin-top: 10px;
        text-decoration: underline;
        text-decoration-style: 5px solid $accent-color;
        margin-bottom: 60px;
      }
    }
  }
  .policies-news {
    float: right;
    width: 30%;
    background-color: $career-body-color;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
