#discover {
  position: relative;
  .Text {
      background-color: #fdba26;
      opacity: 0.8;
      .discover-heading{
          padding: 2%;
          text-align: center;
          margin: 0;
      }
  }
  .one-third {
      height: 400px;
      width: 33.33333333%;
      float: left;
      .discover-subheading {
        @include H3('left', $white);
          color: white;
          padding: 20px;
          // margin-top: 343px;
          position: absolute;
          width: 33.33%;
          cursor: pointer;
          bottom: 0px;
          background-color: rgba(24, 24, 24, 0.6);
      }
  }
  .events {
      background-image: url('./images/events.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  .faculty {
      background-image: url('./images/faculty-staff.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  .policies {
      background-image: url('./images/policies-procedures.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
}